<div style="display:flex;">
<div width="25%" style="background-color:black; color:white !important; text-align: left;">

<h2> Administration </h2>


<li><a href="{{ path('admin_users')}}">Utilisateurs</a></li>
<li><a href="{{ path('create_actor')}}">Acteur</a></li>
<li><a href="{{ path('create_producer')}}">Producteur</a></li>
<li><a href="{{ path('admin_films')}}">Films</a></li>
<li><a href="{{ path('create_category')}}">Catégories</a></li>
<li><a href="{{ path('create_saga')}}">Saga</a></li>

</div>

