<div style="display:flex;">
<div width="25%" style="background-color:black; color:white !important; text-align: left;">

<h2> Administration </h2>


<li><a href="{{ path('admin_users')}}">Utilisateurs</a></li>
<li><a href="{{ path('admin_users')}}">Acteur</a></li>
<li><a href="{{ path('index')}}">Producteur</a></li>
<li><a href="{{ path('admin_films')}}">Films</a></li>
<li><a href="{{ path('admin_categories')}}">Catégories</a></li>
<li><a href="{{ path('index')}}">Saga</a></li>
<li><a href="{{ path('index')}}">Commentaires</a></li>


</div>

