<div>
    <a href="{{ path('index')}}">AlloFlix</a>
    <a href="{{ path('index')}}">Acceuil</a>
    <a href="{{ path('films')}}">Films</a>
    <a href="{{ path('film_heart')}}">Mes coups de coeur</a>
    <a href="{{ path('film_later')}}">à regarder plus tard</a>
    <div>
        <input type="text" id="find_film">
        <input type="submit">
    </div>
    <a href="{{ path('login')}}">connexion</a>
</div>

{% block javascripts %}
    <script src="{{ asset('js/top_barre.js') }}" type="text/javascript"></script>
{% endblock %}
