<h1><a href="{{ path('index')}}">AlloFlix</a></h1>
<a href="{{ path('index')}}">Acceuil</a>
<a href="{{ path('films_categ', {'idPage': 1}) }}">Films</a>
<a href="{{ path('film_heart')}}">Mes coups de coeur</a>
<a href="{{ path('film_later')}}">à regarder plus tard</a>
<form action="{{ path('search_film_top') }}" method="post">
    <input type="text" id="find_film" name="film_name">
    <input type="submit" class="btn-search">
</form>


{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('preference') }}">Mon compte</a>
    <a href="{{ path('logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('login')}}">connexion</a>
{% endif %}

{% block javascripts %}
    <script src="{{ asset('js/top_barre.js') }}" type="text/javascript"></script>
{% endblock %}

<span id="path_film_search" style="display:none">{{ path('film_search') }}</span>
