{% extends 'base.html.twig' %}

{% block body %}
    <div class="list-film">
        <h2> liste de films </h2>
        <div class="list-search">
            <div class="search-cat">
                <label for="categorie">Catégories</label><br />
                <select name="categorie" id="categorie">
                    <option value="null">NA</option>
                    {% for categorie in categories %}
                        <option value="{{ categorie.id }}">{{ categorie.label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="search-note">
                <label for="note">Note</label><br />
                <select name="note" id="note">
                    <option value="null">NA</option>
                    {% for note in notes %}
                        <option value="{{ note }}">{{ note }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <ul class="list-films list-films-page">
            {% for film in listFilms %}
                {% include 'include/film_block.html.twig' %}
            {% else %}
                <li>Pas (encore !) de film</li>
            {% endfor %}
        </ul>

        <ul class="pagination">
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% for p in range(1, nbPages) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('films', {'idPage': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

