{% extends 'admin_base.html.twig' %}

{% block body %}
<div class="well">
    <div class="form">
        {{ form(form) }}
    </div>
</div>
<div class="container">
    <h1> Liste des Films </h1>
    <table style="text-align: center";>
    	<tr>
			<td> Nom </td>
			<td> Description </td>
			<td> Action </td>
    	</tr>
    {% for film in listFilms %}
    	<tr>
    		<td> {{  film.name }} </td>
    		<td> {{ film.description }}</td>
    		<td> 
    		{% if film.isSelected == 0 %}
    			<a href="{{ path('isSelectedFilm', {'idFilm': film.id}) }}">
    			<button style="background: green;color:white;" > Ajouter à la selection </button>
    		</a> 
    		{% else %}
    		<button style="background: grey;color:white;" > Dans la selection </button>
    		{% endif %}
    		
    		
    		<a href="{{ path('modificationFilm', {'idFilm': film.id}) }}">
    			<button style="background: green;color:white;" > Modifier </button>
    		</a> 
    		<a href="{{ path('deleteFilm', {'idFilm': film.id}) }}">
    			<button style="background: red;color:white;" > Supprimer </button>
    		</a> 
    		
    		</td>
    	</tr>
	{% endfor %}
	
	</table>   
	
	<h1> Notre selection </h1>
	
    <table style="text-align: center";>
    	<tr>
			<td> Nom </td>
			<td> Description </td>
			<td> Action </td>
    	</tr>
    {% for filmSelected in listFilmsSelected %}
    	<tr>
    		<td> {{  filmSelected.name }} </td>
    		<td> {{ filmSelected.description }}</td>
    		<td> 
    		
    		
    		<a href="{{ path('notSelectedFilm', {'idFilm': filmSelected.id}) }}">
    			<button style="background: red;color:white;" > Retirer </button>
    		</a> 
    		
    		</td>
    	</tr>
	{% endfor %}   
	
	</table>
</div>
{% endblock %}

