{% extends 'admin_base.html.twig' %}

{% block body %}

	{{ form_start(form) }}
	
		<div> 
		{{ form_label(form.pseudo) }}
		{{ form_widget(form.pseudo ,{ 'attr' : { 'label' : 'Ajouter'} } ) }} 
		</div>
		
		<div>
		{{ form_label(form.email) }}
		 {{ form_widget(form.email) }} 
		 </div>
		<div>
		{{ form_label(form.password) }}
		 {{ form_widget(form.password) }} 
		 </div>
		<div>
		{{ form_widget(form.create ,{ 'attr' : { 'label' : 'Ajouter'} } ) }} 
		</div>
	
	{{ form_end(form) }}
    <h1> Liste des Utilisateurs </h1>
    <table>
    	<tr style="background-color: #4CAF50;
    color: white;">
    		<td> Pseudo </td>
    		<td> Mail </td>
    		<td> Action </td>
    	</tr>
    {% for user in listUsers %}
    	<tr>
    		<td> {{  user.pseudo }} </td>
    		<td> {{ user.email }}</td>
    		<td> 
    		
    		<a href="{{ path('ban', {'idUser': user.id}) }}">
    			<button style="background: red;color:white;" > Bannir </button>
    		</a> 
    		
    		</td>
    	</tr>
	{% endfor %}  
	</table>  
	
    <h1> Liste des utilisateurs bannis </h1>
    
    <table>
    	<tr style="background-color: #4CAF50;
    color: white;">
    		<td> Pseudo </td>
    		<td> Mail </td>
    		<td> Action </td>
    	</tr>
    {% for userBanned in listUsersBanned %}
    	<tr>
    		<td> {{ userBanned.pseudo }} </td>
    		<td> {{ userBanned.email }} </td>
    		<td> 
    		<a href="{{ path('unban', {'idUser': userBanned.id}) }}">
    			<button style="background: green;color:white;"> Débannir </button> 
    		</a>
    		</td>
    	</tr>
	{% endfor %}  
	</table> 
    
{% endblock %}

