{% extends 'admin_base.html.twig' %}

{% block body %}
    <div class="well">
        {% include 'include/flash_message.html.twig' %}
        <p> admin Producer </p>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.description) }}
        {{ form_row(form.image) }}
        {{ form_row(form.id) }}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}
    </div>
    <div>
        <h2>Producer Table</h2>

        <table>
            <tr>
                <th>Full Name</th>
                <th>Description</th>
                <th>image</th>
                <th>Edit</th>
                <th>Drop</th>
            </tr>
            {# faire la boucle for listProducer #}
            {% for producer in listProducer %}
                <tr>
                    <td id="fullname_{{ producer.id }}">{{ producer.fullName }}</td>
                    <td id="desc_{{ producer.id }}">{{ producer.description }}</td>
                    <td id="image_{{ producer.id }}">{{ producer.image }}</td>
                    <td id="edit_{{ producer.id }}"><button id="{{ producer.id }}" class="btn btn-primary edit">Edit</button></td>
                    <td id="drop_{{ producer.id }}">
                        <form action="{{ path('delete_producer', {'id_delete': producer.id}) }}" method="post">
                            <input type="submit" value="Drop" class="btn btn-danger">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete-producer') }}">
                        </form>

                    </td>
                </tr>
            {% else %}
                <p>Pas (encore !) de Producer</p>
            {% endfor %}
        </table>
    </div>
    <script>
        $(document).ready(function(){
            $(".edit").click(function(){
                var id = $(this).attr('id');
                var fullname = $("#fullname_"+id).text();
                var desc = $("#desc_"+id).text();
                var img = $("#image_"+id).text();
                $('#appbundle_producer_fullName').val(fullname);
                $('#appbundle_producer_description').val(desc);
                $('#appbundle_producer_image').val(img);
                $('#appbundle_producer_id').val(id);
            });
        });

        $('document').ready(function(){
            $('#appbundle_producer_id').val(null);
            $('#appbundle_producer_fullName').val('');
            $('#appbundle_producer_description').val('');
            $('#appbundle_producer_image').val('');
        });
    </script>
{% endblock %}
